.appHeader {
  width: 80%;
  margin: 0 auto;
}

.appMenu {
  position: sticky;
  /* height: 10vh; */
  /* display: flex; */
  /* justify-content: space-between;
  align-items: center; */
  font-size: 30px;
}
.menuHead {
  color: black;
  background-color: rgba(0, 0, 0, 0);
}
